.topdiv{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: blue;
    border-width: 1px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #d0d0fb;
}

h2{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 12pt;
}

h3{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 24pt;
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 24pt;
    font-size: 12pt;
}

.divbox{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 15px;
    background-color: #d4f7ee;
    width: 50%;
    margin: 12pt;
}

.tblstye{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: right;
}

.imgbox{
    border-style: solid;
    border-width: 5px;
}

.captionbox{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-style: dotted;
    border-width: 2px;
    text-align: center;
    width: auto;
}

.enddiv{
    background-color: cyan;
}