body {
    background-color: antiquewhite;
}

canvas {
    margin: 2px;
    border: 1px solid lightgray;
    border-radius: 2pt;
}

img {
    margin: 2px;
    border-radius: 2pt;
}

.box {
    display: flex;
}

.picTag {
    margin: 2px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-choice {
    font: 20pt bold;
    padding: 5pt;
}

.topbar {
    width: 100%; 
    height: 50pt; 
    margin: 0;
}

.top-bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.top-bar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-bar-item:hover {
    background-color: #010101;
}