body {
    background-color: antiquewhite;
}

canvas {
    margin: 2px;
    border: 2px solid lightgray;
    border-radius: 2pt;
}

img {
    margin: 2px;
    border-radius: 2pt;
}

.box {
    display: flex;
}

.picTag {
    padding: 2px;
    margin: 0px;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}