/* remove indentation of list items */

ul {
    padding-left: 0;
}
  
  
/* remove traditional bullet from front of list items */
/* Step 3 below here */
li {
    list-style-type: none;
    background-color: #eee;
    border: 1px solid #c3c3c3;
    padding: 10px 0px 10px 5px;
    font-size: 20pt;
}


/* Step 5 below here */
.done {
    background-color: green;
}

.remove {
    background-color: red;
}

.highlight {
    background-color: gold;
}


/* mark task as finished */
/* Step 6 below here */
li.plain {
    background-color: lightgray;
}

li.finished {
    color: white;
    background-color: gray;
    text-decoration: line-through;
}

li.highlighted {
    color: black;
    background-color: lightskyblue;
    font-weight: bold;
}

input[type="text"] {
    font-size: 18px;
    width: 94%;
    padding: 10px;
}

input[type="button"] {
    font-size: 1.2em;
    margin: -6px 4px 0px 0px;
}

#addButton {
    padding: 10px;
    color: pink;
}

/* Step 10 below here */
.aboutcolor {
    background-color: lightyellow;
}

/* Step 12 below here */
#divabout {
    width: 300px;
    font-size: 14pt;
    margin: 10px;
}



