{% extends "layout.html" %}
{% block body %}
<h1>图片套娃生成器</h1>

<p id="intro">
    将小图的像素均匀分散在大图中以起到隐藏的效果
</p>

<div class="box">
    <div class="picBox">
        <canvas id=background width="400" height="200"></canvas><br>
        <input type="file" id="bgPic" accept="image/png" style="margin: 2px;" onchange="upload(this)" /><br>
        <output id="sizeBg">Size:</output>
    </div>
    
    <div class="picBox">
        <canvas id=hide width="400" height="200"></canvas><br>
        <input type="file" id="hdPic" value="image/png" style="margin: 2px;" onchange="upload(this)" /><br>
        <output id="sizeHd">Size:</output>
    </div>
</div>

<p>
    <input type="button" id="generate" value="生成" onclick="generate()" />
    <input type="button" id="clear" value="清除" onclick="clearImg()" />
</p>

<p>
    <img id="result" width="400" height="200"></img><br>
    <output id="sizeRes">Size:</output>
    <br><input type="button" id="save" value="保存" onclick="save()" style="margin: 2px;" />
</p>
{% endblock %}