{% extends "layout.html" %}
{% block body %}

<div class="box">
    <div class="picBox">
        <p class="picTag">背景大图:</p>
        <canvas id=background width="400" height="200"></canvas><br>
        <input type="file" id="bgPic" accept="image/png" style="margin: 2px;" onchange="upload(this)" /><br>
        <output id="sizeBg" class="picTag">Size:</output>
    </div>
    
    <div class="picBox">
        <p class="picTag">隐藏小图:</p>
        <canvas id=hide width="400" height="200"></canvas><br>
        <input type="file" id="hdPic" value="image/png" style="margin: 2px;" onchange="upload(this)" /><br>
        <output id="sizeHd" class="picTag">Size:</output>
    </div>
</div>

<p>
    <input type="button" id="generate" value="生成" onclick="generate()" />
    <input type="button" id="clear" value="清除" onclick="clearImg()" />
</p>

<div class="resultBox">
    <p class="picTag">生成结果:</p><br>
    <img id="result" width="640" height="360"></img><br>
</div>

{% endblock %}