h1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    width: 70%;
    border: 1px solid black;
    text-align: center;
}

div {
    width: 140pt;
    padding: 5pt;
    margin: 10pt;
    border: 1px solid lightgray;
    font-size: 16pt;
}

.blueback {
    background-color: lightblue;
}

.greenback {
    background-color: lightgreen;
}

.pinkback {
    background-color: pink;
}

.cyanback{
    background-color: cyan;
}

